<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Training\DependencyExample\Model\Main">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="id" xsi:type="string">Class Main</item>
            </argument>
        </arguments>
    </type>
</config>
